* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

:root {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  background-color: #092145;
}
@media screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
}

.laptop-navbar {
  width: 100%;
  height: 80px;
  background-color: #092145;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-inline: 120px;
  position: fixed;
  top: 0;
  z-index: 50;
  border-bottom: 0.5px solid rgba(182, 182, 182, 0.349);
}
.laptop-navbar a {
  text-decoration: none;
  color: none;
}
.laptop-navbar .hamburger {
  display: none;
}
.laptop-navbar .logo {
  font-size: 30px;
  font-weight: 700;
  color: #01ACEE;
  text-align: center;
  position: relative;
  overflow: hidden;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: changer;
          animation-name: changer;
  -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
          animation-timing-function: cubic-bezier(1, 0, 0, 1);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
.laptop-navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  gap: 45px;
}
.laptop-navbar ul li {
  font-size: 14px;
  font-weight: 700;
  color: #01ACEE;
  letter-spacing: 1px;
  position: relative;
  list-style: none;
}
.laptop-navbar ul li a {
  color: #01ACEE;
}
.laptop-navbar ul li a:hover {
  color: #f0f0f0;
}
.laptop-navbar ul li::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 3px;
  background-color: #01ACEE;
  bottom: -10%;
  -webkit-transition: 400ms ease;
  transition: 400ms ease;
}
.laptop-navbar ul li:hover::before {
  width: 100%;
}
.laptop-navbar ul li::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background-color: #C3297C;
  bottom: -15%;
  right: 0;
  -webkit-transition: 400ms ease;
  transition: 400ms ease;
}
.laptop-navbar ul li:hover::after {
  width: 100%;
}
.laptop-navbar .button-wrap {
  width: 250px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.laptop-navbar .button-wrap a:nth-of-type(2) button {
  padding: 12px 30px;
  background-color: #01ACEE;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #f0f0f0;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.laptop-navbar .button-wrap a:nth-of-type(2) button:hover {
  cursor: pointer;
  background-color: #0AE8F5;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.laptop-navbar .button-wrap a:first-of-type button {
  padding: 12px 30px;
  font-size: 16px;
  background: none;
  outline: none;
  border: 1px solid #01ACEE;
  border-radius: 5px;
  color: #01ACEE;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.laptop-navbar .button-wrap a:first-of-type button:hover {
  cursor: pointer;
  background-color: #0AE8F5;
  background-color: rgba(1, 171, 239, 0.3);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
@media screen and (max-width: 767px) {
  .laptop-navbar .button-wrap {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .laptop-navbar {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-inline: 15px;
    height: 65px;
    z-index: 55;
  }
  .laptop-navbar .logo {
    display: block;
    font-size: 20px;
    font-weight: 700;
  }
  .laptop-navbar .hamburger {
    display: block;
    -webkit-transition: 200ms;
    transition: 200ms;
    cursor: pointer;
  }
  .laptop-navbar .hamburger i {
    font-size: 30px;
    color: #01ACEE;
  }
  .laptop-navbar .hamburger i:hover {
    color: #C3297C;
    cursor: pointer;
  }
  .laptop-navbar a,
  .laptop-navbar ul {
    display: none;
  }
  .laptop-navbar a button,
  .laptop-navbar ul button {
    display: none;
  }
}

.mobile-navbar {
  display: none;
}
@media screen and (max-width: 767px) {
  .mobile-navbar {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 60;
    display: block;
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
  }
  .mobile-navbar .showing {
    width: 100%;
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-inline: 40px;
    display: none;
  }
  .mobile-navbar .showing .logocnt .logo {
    display: none;
  }
  .mobile-navbar .pop-out {
    width: 60%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 80px;
    position: absolute;
    right: 0;
    background-color: #f0f0f0;
  }
  .mobile-navbar .pop-out .hamburger {
    -webkit-transition: 200ms;
    transition: 200ms;
    cursor: pointer;
  }
  .mobile-navbar .pop-out .hamburger i {
    font-size: 35px;
    color: #01ACEE;
  }
  .mobile-navbar .pop-out .hamburger i:hover {
    color: #C3297C;
    cursor: pointer;
  }
  .mobile-navbar .pop-out ul {
    list-style: none;
    display: -ms-grid;
    display: grid;
    gap: 30px;
    text-align: center;
  }
  .mobile-navbar .pop-out ul li {
    font-size: 16px;
    font-weight: 700;
    color: #01ACEE;
    position: relative;
    list-style: none;
  }
  .mobile-navbar .pop-out ul li a {
    color: #01ACEE;
    text-decoration: none;
  }
  .mobile-navbar .pop-out ul li a:hover {
    color: #C3297C;
  }
  .mobile-navbar .pop-out .button-wrap {
    display: -ms-grid;
    display: grid;
    place-items: center;
    width: 100%;
    height: 150px;
  }
  .mobile-navbar .pop-out .button-wrap a:nth-of-type(2) button {
    padding: 12px 30px;
    background-color: #01ACEE;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #f0f0f0;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  .mobile-navbar .pop-out .button-wrap a:nth-of-type(2) button:hover {
    cursor: pointer;
    background-color: #0AE8F5;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .mobile-navbar .pop-out .button-wrap a:first-of-type button {
    padding: 12px 30px;
    font-size: 16px;
    background: none;
    outline: none;
    border: 1px solid #01ACEE;
    border-radius: 5px;
    color: #01ACEE;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  .mobile-navbar .pop-out .button-wrap a:first-of-type button:hover {
    cursor: pointer;
    background-color: #0AE8F5;
    background-color: rgba(1, 171, 239, 0.3);
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}