@import "./variables";
@import"./mediaQuery";

// Navbar design

// laptop navbar
@mixin laptop-navbar{
    width: 100%;
    height: 80px;
    background-color: $backgroundColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: $Margin;
    position: fixed;
    top: 0;
    z-index: 50;
    border-bottom: 0.5px solid rgba(182, 182, 182, 0.349);
    // display: none;

    a{
        text-decoration: none;
        color: none;
    }

    .hamburger{
        display: none;
    }

    .logo{
        
        .logoImg{
            width: 90px;
            height: 40px;

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        gap: 45px;

        li{
            font-size: 14px;
            font-weight: 700;
            color: $PrimaryColor;
            letter-spacing: 1px;
            position: relative;
            list-style: none;

            a{
                color: $PrimaryColor;

                &:hover{
                    color: $whiteColor;
                }
            }

            &::before{
                position: absolute;
                content: "";
                width: 0%;
                height: 3px;
                background-color: $PrimaryColor;
                bottom: -10%;
                transition: 400ms ease;
            }

            &:hover{

                &::before{
                    width: 100%;
                }
            }

            &::after{
                position: absolute;
                content: "";
                width: 0%;
                height: 2px;
                background-color: $SecondaryColor;
                bottom: -15%;
                right: 0;
                transition: 400ms ease;
            }

            &:hover{

                &::after{
                    width: 100%;
                }
            }
        }
    }
}

// mobile navbar
@mixin mobile-navbar{
    display: flex;
    padding-inline: 15px;
    height: 65px;
    z-index: 55;

    .logo{
        display: block;
        font-size: 20px;
        font-weight: 700;
    }

    .hamburger{
        display: block;
        transition: 200ms;
        // display: none;
        cursor: pointer;

        i{
            font-size: 30px;
            color: $PrimaryColor;

            &:hover{
                color: $SecondaryColor;
                cursor: pointer;
            }
        }
    }

    a, 
    ul{
        display: none;

        button{
        display: none;
        }
    }
}

// the navigation menu that pops out for mobile
@mixin for-pop-out{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 60;
    display: block;
    transition: 300ms ease-in-out;

    .showing{
        width: 100%;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 40px;
        display: none;
        

        .logocnt{

            .logo{
                display: none;
            }
        }
    }

    .pop-out{
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 80px;
        position: absolute;
        right: 0;
        background-color: $whiteColor;

        .hamburger{
            transition: 200ms;
            cursor: pointer;

            i{
                font-size: 35px;
                color: $PrimaryColor;

                &:hover{
                    color: $SecondaryColor;
                    cursor: pointer;
                }
            }
        }

        ul{
            list-style: none;
            display: grid;
            gap: 30px;
            text-align: center;

            li{
                font-size: 16px;
                font-weight: 700;
                color: $PrimaryColor;
                position: relative;
                list-style: none;
    
                a{
                    color: $PrimaryColor;
                    text-decoration: none;
    
                    &:hover{
                        color: $SecondaryColor;
                    }
                }
            }
        }
    
        .button-wrap{
            display: grid;
            place-items: center;
            width: 100%;
            height: 150px;

            a{
    
                &:nth-of-type(2){
                    button{
                        @include filled-button;                
                    }
                }
            }
        
            a{
                
                &:first-of-type{
                    button{
                        @include border-button;          
                    }
                }
            }
        }
    }
}
// Nav bar ends here


// buttons

// bordered buttons
@mixin border-button{
    padding: 12px 30px;
    font-size: 16px;
    background: none;
    outline: none;
    border: 1px solid $PrimaryColor;
    border-radius: 5px;
    color: $PrimaryColor;
    transition: 300ms;

    &:hover{
        cursor: pointer;
        background-color: $PrimaryColor-v;
        background-color: rgba(1, 171, 239, 0.3);
        transform: scale(1.05);
    }
}

// Filled buttons
@mixin filled-button{

    padding: 12px 30px;
    background-color: $PrimaryColor;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: $whiteColor;
    transition: 300ms;

    &:hover{
        cursor: pointer;
        background-color: $SecondaryColor;
        transform: scale(1.05);
    }
}

// hero section on landing page
@mixin hero-section{
    width: 100%;
    height: 600px;
    padding-inline: $Margin;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 110px;

    .leftSide{
        width: 50%;
        height: 100%;
        // background-color: brown;
        display: flex;
        gap: 60px;
        flex-direction: column;
        justify-content: center;
        position: relative;

        .heroTxt{

            h1{
                font-size: 50px;
                font-weight: 700;
                width: 650px;
                color: $PrimaryColor;
                margin-bottom: 40px;

                span{
                    color: $SecondaryColor;
                }
            }

            p{

                color: $backgroundColor-v;
                font-size: 18px;
                font-weight: 100;
                margin-bottom: 30px;

                span{
                    color: $PrimaryColor;
                }
            }

            ul{
                display: grid;
                gap: 30px;
                list-style: none;
                // list-style-image: url(../img/checkbox-circle-fill.png);

                li{
                    height: 20px;
                    color: $whiteColor;
                    font-size: 14px;
                    font-weight: 100;

                    span{
                        color: $SecondaryColor;
                    }

                    i{
                        font-size: 16px;
                        color: $SecondaryColor;
                        margin-right: 10px;
                    }
                }
            }
        }

        .CTA{
            display: flex;
            gap: 20px;

            a{
                text-decoration: none;

                button{
                    @include filled-button();
                }

                &:nth-of-type(2){
                    button{
                        @include border-button();
                    }
                }
            }
        }
    }

    .rightSide{
        width: 50%;
        height: 100%;
        // background-color: aqua;
        display: grid;
        place-items: center;

        .heroImg{
            width: 550px;
            height: 550px;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .shadow1{
        @include for-shadow1();
    }
}

// This is the shadow in the hero section
@mixin for-shadow1{
    width: 600px;
    height: 400px;
    background-color: $shadowSetting;
    position: absolute;
    z-index: -1;
    right: 3%;
    bottom: -10%;
    filter: blur(184px);
}

// This is the shadow in the events section
@mixin for-shadow2{
    width: 400px;
    height: 250px;
    background-color: $shadowSetting2;
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: -40%;
    filter: blur(184px);
}

// animation for the text in events "reusable"
@mixin text-animation{
    animation-duration: 500ms;
    animation-timing-function: ease;
    animation-name: Text;
    animation-iteration-count: infinite;
    animation-direction: normal;
    
    @keyframes Text {
        0%{
            color: $PrimaryColor;
        }
        50%{
            color: $SecondaryColor;
        }
        100%{
            color: $Gradient;
        }        
    }
}

// The events section
@mixin events-section{
    margin-top: 70px;
    width: 100%;
    height: 400px;
    // background-color: $shadowSetting;
    padding-inline: $Margin;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .eventsTxt{
        width: 50%;

        h2{
            color: $PrimaryColor;
            font-size: 25px;
            font-weight: 600;
            margin-bottom: 40px;

            @include text-animation();
        }

        h1{
            width: 300px;
            font-size: 50px;
            font-weight: 700;
            color: $PrimaryColor;

            span{

                &:first-of-type{
                    color: $SecondaryColor;
                }

                &:nth-of-type(2){
                    font-size: 20px;
                    color: $whiteColor;
                    font-weight: 300;
                }

                i{
                    color: rgb(255, 65, 65)
                }
            }
        }

        button{
            @include filled-button();
            padding: 18px 160px;
            margin-top: 30px;
        }
    }

    .countdwn{
        width: 50%;
        display: grid;
        place-items: center;
        position: relative;

        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 400px;
            height: 200px;
            list-style: none;
            // border: 1px solid $backgroundColor-v;
            background-color: $backgroundColor-alt;
            border-radius: 10px;

            li{
                font-size: 65px;
                font-weight: 500;
                color: $SecondaryColor;
            }
        }

        div{
            color: $SecondaryColor;
            position: absolute;
            font-size: 14px;

            &:first-of-type{
                bottom: 22%;
                left: 26%;
            }

            &:nth-of-type(2){
                bottom: 22%;
                left: 40%;
            }

            &:nth-of-type(3){
                bottom: 22%;
                right: 38%;
            }

            &:nth-of-type(4){
                bottom: 22%;
                right: 24%;
            }
        }
    }

    
    .shadow2{
        @include for-shadow2();
    }
}