@import "./variables";
@import"./mediaQuery";

// Navbar design

// laptop navbar
@mixin laptop-navbar{
    width: 100%;
    height: 80px;
    background-color: $backgroundColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: $Margin;
    position: fixed;
    top: 0;
    z-index: 50;
    border-bottom: 0.5px solid rgba(182, 182, 182, 0.349);
    // display: none;
    

    a{
        text-decoration: none;
        color: none;
    }

    .hamburger{
        display: none;
    }

    .logo{
        font-size: 30px;
        font-weight: 700;
        color: $PrimaryColor;
        text-align: center;
        position: relative;
        overflow: hidden;
        animation-duration: 5s;
        // animation-delay: 2s;
        animation-name: changer;
        animation-timing-function: cubic-bezier(1, 0, 0, 1);
        animation-iteration-count: infinite;
        animation-direction: normal;
    }

    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        gap: 45px;

        li{
            font-size: 14px;
            font-weight: 700;
            color: $PrimaryColor;
            letter-spacing: 1px;
            position: relative;
            list-style: none;

            a{
                color: $PrimaryColor;

                &:hover{
                    color: $whiteColor;
                }
            }

            &::before{
                position: absolute;
                content: "";
                width: 0%;
                height: 3px;
                background-color: $PrimaryColor;
                bottom: -10%;
                transition: 400ms ease;
            }

            &:hover{

                &::before{
                    width: 100%;
                }
            }

            &::after{
                position: absolute;
                content: "";
                width: 0%;
                height: 2px;
                background-color: $SecondaryColor;
                bottom: -15%;
                right: 0;
                transition: 400ms ease;
            }

            &:hover{

                &::after{
                    width: 100%;
                }
            }
        }
    }
}

// mobile navbar
@mixin mobile-navbar{
    display: flex;
    padding-inline: 15px;
    height: 65px;
    z-index: 55;

    .logo{
        display: block;
        font-size: 20px;
        font-weight: 700;
    }

    .hamburger{
        display: block;
        transition: 200ms;
        // display: none;
        cursor: pointer;

        i{
            font-size: 30px;
            color: $PrimaryColor;

            &:hover{
                color: $SecondaryColor;
                cursor: pointer;
            }
        }
    }

    a, 
    ul{
        display: none;

        button{
        display: none;
        }
    }
}

@mixin for-pop-out{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 60;
    display: block;
    transition: 300ms ease-in-out;

    .showing{
        width: 100%;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 40px;
        display: none;
        

        .logocnt{

            .logo{
                display: none;
            }
        }
    }

    .pop-out{
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 80px;
        position: absolute;
        right: 0;
        background-color: $whiteColor;

        .hamburger{
            transition: 200ms;
            cursor: pointer;

            i{
                font-size: 35px;
                color: $PrimaryColor;

                &:hover{
                    color: $SecondaryColor;
                    cursor: pointer;
                }
            }
        }

        ul{
            list-style: none;
            display: grid;
            gap: 30px;
            text-align: center;

            li{
                font-size: 16px;
                font-weight: 700;
                color: $PrimaryColor;
                position: relative;
                list-style: none;
    
                a{
                    color: $PrimaryColor;
                    text-decoration: none;
    
                    &:hover{
                        color: $SecondaryColor;
                    }
                }
            }
        }
    
        .button-wrap{
            display: grid;
            place-items: center;
            width: 100%;
            height: 150px;

            a{
    
                &:nth-of-type(2){
                    button{
                        @include filled-button;                
                    }
                }
            }
        
            a{
                
                &:first-of-type{
                    button{
                        @include border-button;          
                    }
                }
            }
        }
    }
}

// buttons

// bordered buttons
@mixin border-button{
    padding: 12px 30px;
    font-size: 16px;
    background: none;
    outline: none;
    border: 1px solid $PrimaryColor;
    border-radius: 5px;
    color: $PrimaryColor;
    transition: 300ms;

    &:hover{
        cursor: pointer;
        background-color: $PrimaryColor-v;
        background-color: rgba(1, 171, 239, 0.3);
        transform: scale(1.05);
    }
}

// Filled buttons
@mixin filled-button{

    padding: 12px 30px;
    background-color: $PrimaryColor;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: $whiteColor;
    transition: 300ms;

    &:hover{
        cursor: pointer;
        background-color: $PrimaryColor-v;
        transform: scale(1.05);
    }
}





// ===============sign-up-page===================


@mixin Sign-up {
    .img-container {
        display: none;
    }

    
    .sign-up {
        display: flex;
        justify-content: center;
        padding-inline: 200px;

        .signup-firstwrapper {
            width: 80%;
        }
        
    }



    .form{
    
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
    gap: 1rem;
    width: 100%;

    }

    h1 {
        color: $PrimaryColor-v;
        font-size: 50px;
        padding: 100px 50px;
        text-align: center;
    }

    form{
        
        width: 60%;
        color: $whiteColor;
        // padding: 50px;

        // border: 5px solid $PrimaryColor;

        // // border-radius: 30px;

        #label {
            width: 200px;
            display: inline-block;
            color: $PrimaryColor;
            font-size: 18px;
            
        }

        .input {
            width: 350px;
            height: 40px;
            border-radius: 10px;
            background-color: $inputbg;
            border: none;

            
        }
        ::placeholder {
            padding-left: 10px;
        }
        .gender {
            padding: 10px;
            display: flex;
            gap: 0;
            color: $PrimaryColor;
            font-size: 18px;
            #gender {
                width: 200px;
                
            }
            input {
                width: 20px;
            }
        }
    }

    button {
        width: 200px;
        height: 60px;
        background-color: $PrimaryColor-v;
        border-radius: 20px;
        font-size: 30px;
        color: $backgroundColor;
        border: none;
        transition: 0.5s ease;
        cursor: pointer;

        &:hover {
            background-color: $PrimaryColor;
            color: $whiteColor;
            
            
            
        }
    }


    .signup-img {
        width: 40%;
        

        img {
            width: 100%;
        }
    }


    @media screen and (max-width: 1024px) {
        .img-container{
            display: none;

        }
        .sign-up {
            padding-inline: 50px;
        }

        .signup-img {
            width: 60%;
            height: 400px;

            img {
                width: 100%;
                height: 100%;
            }
        }

    }

    @media screen and (max-width: 727px) {

        h1 {
            font-size: 25px;
        }

        .sign-up{
            display: none;
        }
        .img-container{
            position: relative;
            display: inline-block;
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
            }

        }

            .overlay {
                position: absolute;
                top: 300px;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity as per your requirement */
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-size: 20px;
                text-align: center;
                // opacity: 0;
                // transition: opacity 0.5s;
              }
              
              .gender {
                inline-size: 300px;
                
                font-size: 18px;
                #gender {
                    width: 100px;
                    
                }
                input {
                    width: 20px;
                }
            }

            button {
                width: 200px;
                height: 50px;
            }

        

    }

}
