$PrimaryColor: #01ACEE;
$PrimaryColor-v: #0AE8F5;
$SecondaryColor: #C3297C;
$backgroundColor: #092145;
$whiteColor: #f0f0f0;
$inputbg : #cbdae8;
$blackColor: #101010;
$Gradient: linear-gradient(to top left, #01ACEE, #0AE8F5);
$Margin: 120px;
