@import "./variables";
@import"./mediaQuery";
@import "./mixins";
@import "./mixin-hire";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

:root{
    scroll-behavior: smooth;
}

body{
    scroll-behavior: smooth;  
    background-color: $backgroundColor;

    // mobile media query
    @include mediaQuery(767px){
        overflow-x: hidden;
    }
}

.hero{
    margin-bottom: 90px;
    // background-color: aqua;
    position: relative;
    height: 750px;
    justify-content: center;
    align-items: center;

    .form1{
        @include hero-hire;
        display: block;
    }

    .form2{
        @include hero-hire;
        display: none;
    }

    .form3{
        height: 300px;
        // background-color: aqua;
        @include hero-hire;
        margin-left: 30px;
        display: none;

        form{
            margin-left: 130px;
            // background-color: aqua;
            padding-inline: 0px;

            input{
                @include inputs;
                width: 350px;
                margin-top: 2px;
            }
        }
    }

    button{
        @include filled-button;
        position: absolute;
        bottom: 20%;
        right: 23%;
        padding-inline: 90px;
    }
}